/*Corpo página*/
body{
    padding: 50px;
    transition: color 0.5s;
    font-family: 'Josefin Sans', sans-serif;
    font-size: larger;
    background: #1e2125;
        }
        
#principal{
    width: 1670px;
}
#menu{
    background: #131212;
    padding: 18px;
    }
a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 5px;
}
.charles-darwin{
    border: 10px solid #ffffff;
    align-items: center;
    
}
p{
    background: #0000006d;
    color: #ffffff;
    font-size: larger;
    width: 700px;
    padding: 10px;
    text-align: justify;

}
h1{
    padding: 10px 50px;
    color: rgb(255, 255, 255);


}
h2{
    color: rgb(0, 0, 0);
    padding: 10px;
}
iframe{
    border: 5px solid black;
}
li{
    background: rgba(19, 18, 18, 0.578);
    padding: 10px;
    color: #ffffff;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style-type: none;
}

a:hover{
    background: rgb(54, 194, 236)

}

h1:hover{
    background-color: #000000;
    size: 15px;
}


footer {
	background-color: #00549e;
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 50px;
}
figcaption{
    color: #ffffff;
}